*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
.Rproj.user
conference-article/spectral-ibp.pdf
conference-article/spectral-ibp_lit-review.pdf
*.DS_Store
*~
*.swp
